@import  url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

body {
   display: grid;
   min-height: 100vh;
   grid-template-rows: 4em 1fr 4em;
   grid-template-columns: 1fr 5fr;
}

header {
   grid-column: 1/-1;
}

aside {
   
}

main {
   grid-column: span 1;
}

footer {
   grid-column: 1/-1;
}
