@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

:root {
   --azul-claro: #37DBFF;
   --azul-medio-claro: #568FEE;
   --azul: #3755FF70;
   --azul-oscuro-transparente: #132589cf;
   --azul-oscuro: #132589;
   --negro-palido: #0023;
   --gris-claro: #B8BCC2;
   --hueso: #E3E3E320;
}

* {
   font-family: consolas;
}

body img {
   color: #000;
   font-size: .55em;
   font-family: Arial, Helvetica, sans-serif;
   text-shadow: none;
   letter-spacing: normal;
   font-weight: normal;
   filter: drop-shadow(.2em .2em .2em #001);
   opacity: .6;
}

body {
   display: grid;
   min-height: 100vh;
   grid-template-rows: 3em 1fr 3em;
   grid-template-columns: 1fr 4fr;
   gap: 2em;
   background: var(--azul);
}

body .fondo-interior {
   position: fixed;
   width: 100%;
   height: 70vh;
   top: 20%;
   background: #fffd;
}

header {
   grid-column: 1/-1;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   background: var(--azul);
   font-family: 'Pangolin', cursive;
   font-size: 2em;
   letter-spacing: .3em;
   color: #fff;
   text-shadow: 3px 4px #000;
   font-weight: 580;
   padding-right: 3em;
   border-radius: 0 0 25px 0;
   z-index: 1000;
}

header img {
   height: 80%;
   margin-left: 5em;
}

aside {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding-top: 3em;
   border: 2px solid var(--negro-palido);
   border-radius: 1em;
   margin-left: 2em;
   background: #fff;
   z-index: 100;
}

aside ul {
   color: var(--azul-oscuro);
   list-style-position: inside;
   margin-left: 1.2em;
}

aside .boton-lateral {
   display: inline-block;
   width: 80%;
   background: var(--hueso);
   outline: none;
   border: 1px solid var(--negro-palido);
   border-radius: 200px;
   font-size: .8em;
   font-family: consolas;
   letter-spacing: .1em;
   padding: .5em;
   margin-top: .5em;
   text-align: center;
   user-select: none;
   transition: .3s;
   cursor: pointer;
}

aside .boton-lateral:hover {
   background: #fff;
   color: var(--azul-oscuro);
   border: 1px solid var(--azul-oscuro);
   transform: translateX(10%);
}

main {
   grid-column: span 1;
   padding: 4em 15vw 12vh 12vw;
   border: 2px solid var(--negro-palido);
   border-radius: 1em;
   margin-right: 2em;
   background: #fff;
   z-index: 100;
}

main #introduccion {
   position: relative;
   transform: translateY(-40%);
   opacity: 0;
   transition: transform 1s, opacity 1s linear;
}

main #introduccion .titulo {
   margin-top: 0;
   text-align: center;
   color: var(--azul-oscuro);
}

main #introduccion .texto-bienvenida {
   margin-top: 2em;
}

main #introduccion .texto-bienvenida strong {
   color: var(--azul-oscuro);
}

main #resolvedor {
   display: grid;
   grid-template-rows: 1fr 1fr;
   grid-template-columns: 1fr 1fr;
   transform: translateY(20%);
   opacity: 0;
   transition: transform 1s, opacity 1s ease .5s;
}

main #resolvedor::after {
   content: '';
   margin: 0;
   width: 9.3em;
   height: .1em;
   background: var(--azul-oscuro);
   position: absolute;
   top: 65.7%;
   left: 3.2%;
}

main .resolvedor__instrucciones {
   position: relative;
   grid-column: span 2;
   align-self: center;
}

main .resolvedor__instrucciones b{
   color: var(--azul-oscuro-transparente);
}

main .resolvedor__instrucciones ul {
   margin-top: 1em;
   list-style: circle;
   text-align: justify;
   color: var(--azul-oscuro);
}

main .resolvedor__instrucciones span {
   color: #000;
}

main .resolvedor__resolucion {
   position: relative;
   left: 10%;
   display: grid;
   grid-template-rows: 1fr 1fr;
   grid-template-columns: 8em 8em;
   row-gap: 1em;
}

main .resolvedor__resolucion--input {
   padding: .4em;
   border: .03em solid var(--azul-oscuro);
   border-left: 1vw solid var(--azul-oscuro);
   border-right: 1vw solid var(--azul-oscuro);
   font-size: 1.5em;
   text-align: center;
   transition: border .3s;
   color: var(--azul-oscuro);
}

main .input-numerador:focus,
main .input-denominador:focus {
   outline: .02em solid var(--azul);
   border-left: 1px solid var(--azul-oscuro);
   border-right: 1px solid var(--azul-oscuro);
}

main .input-numerador:focus~.mensaje-numerador,
main .input-denominador:focus~.mensaje-denominador {
   animation: anim-mensaje alternate 1.2s infinite ease-out;
}

main .resolvedor__resolucion--mensaje {
   display: flex;
   justify-content: space-around;
   align-items: center;
   align-self: center;
   opacity: 0;
   width: 10em;
   height: 3em;
   padding: 20px 0;
   margin-left: 1em;
   color: #fff;
   font-family: consolas;
   background: var(--azul);
   clip-path: polygon(100% 0%, 85% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

@keyframes anim-mensaje {
   0% {
      opacity: 1;
   }

   100% {
      opacity: 1;
      transform: translateX(5%);
      background: var(--azul-oscuro-transparente);
   }
}

main .boton-resolver {
   justify-self: center;
   font-family: consolas;
   font-size: 1em;
   font-weight: 570;
   padding: 1em;
   text-align: center;
   color: #fff;
   outline: none;
   border: 2px inset var(--azul-oscuro);
   background: var(--azul-oscuro);
   transition: none;
}

main .boton-resolver:hover {
   background: var(--azul-oscuro-transparente);
   border: 2px inset var(--negro-palido);
}

main .resolvedor__resultado {
   display: flex;
   flex-direction: column;
   justify-self: flex-start;
   font-size: 1.5em;
   row-gap: 1em;
}

main .resolvedor__resultado-span {
   display: flex;
   flex-direction: column;
   row-gap: 1em;
}

main .resolvedor__resultado-span span{
   position: relative;
   display: block;
   padding: 10px;
   text-align: center;
   color: var(--azul-oscuro);
}

main .resolvedor__resultado-span span:first-child::after {
   content: '';
   margin: 0;
   width: 4em;
   height: .1em;
   background: var(--azul-oscuro);
   position: absolute;
   top: 122%;
   left: 50%;
   transform: translateX(-50%);
}

main .resolvedor__resultado--reiniciar {
   justify-self: center;
   font-family: consolas;
   font-size: .6em;
   font-weight: 570;
   padding: 1em;
   text-align: center;
   color: #fff;
   outline: none;
   border: 2px inset var(--azul-oscuro);
   background: var(--azul-oscuro);
}

main .resolvedor__resultado--reiniciar:hover {
   background: var(--azul-oscuro-transparente);
   border: 2px inset var(--negro-palido);
}

footer {
   position: relative;
   grid-column: 1/-1;
   display: flex;
   flex-direction: row;
   background: var(--azul);
   justify-content: flex-end;
   align-items: center;
   padding-right: 4em;
   z-index: 1000;
}

footer img {
   position: absolute;
   height: 70%;
   left: 50%;
}

@media only screen and (min-width: 1200px) {
   body {
      grid-template-rows: 7vh 1fr 7vh;
      font-size: 1.2vw;
   }

   aside .boton {
      height: 13%;
   }

   header {
      background: var(--azul);
      font-size: 3vh;
      letter-spacing: 1vw;
      border-radius: 0 0 2vw 0;
   }

}